<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Room</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="container">
    <div class="form-card">
        <h2>Add Room</h2>
        <form th:action="@{/add-room}"
              th:object="${room}"
              method="post">
            <input type="number"th:field="*{roomNumber}" placeholder="Room Number" required>
            <select th:field="*{type}">
                <option value="SINGLE">SINGLE</option>
                <option value="DOUBLE">DOUBLE</option>
                <option value="FAMILY">FAMILY</option>
                <option value="SUIT">SUIT</option>
            </select>

            <input type="number" th:field="*{price}" placeholder="Price" required>
            <button type="submit">Add Room</button>
        </form>
    </div>
</div>
</body>
</html>