<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Room</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

    <div class="card">

        <h2>Add Room</h2>

        <form th:action="@{/rooms/save}" th:object="${room}" method="post">

            <input type="number" th:field="*{roomNumber}" placeholder="Room Number">

            <select th:field="*{type}">
                <option value="SINGLE">Single</option>
                <option value="DOUBLE">Double</option>
                <option value="FAMILY">Family</option>
                <option value="SUIT">Suit</option>
            </select>

            <input type="number" th:field="*{price}" placeholder="Price">

            <button type="submit">Save Room</button>

        </form>

    </div>

</div>

</body>
</html>