<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar">
    <div class="navbar">
        <a href="/">Home</a>
        <span th:if="${session.loggedUser != null and session.loggedUser.role.name() == 'ADMIN'}">
            <a href="/admin/home">Admin Home</a>
            <a href="/users">Users</a>
            <a href="/bookings">Bookings</a>
            <a href="/add-room">Add Room</a>
            <a href="/profile">Profile</a>      
        </span>

        <span th:if="${session.loggedUser != null and session.loggedUser.role.name() == 'CUSTOMER'}">
            <a href="/customer/home">Customer Home</a>
            <a href="/rooms">Rooms</a>
            <a href="/history">History</a>
            <a href="/profile">Profile</a>
        </span>
        
        <a href="/logout">Logout</a>
    </div>
</nav>
</body>
</html>